.*
!.gitignore
!.dir-locals.el
*~
*.tmp
*.orig
*.o
*.a
*.pro
*.tar.*
gmon.out
tags
TAGS
cscope.*
amded
core
core.*
amded.1
*.mp3
*.ogg
*.flac
api/
api.html
git-version.h
version-magic.make
compile_flags.txt
GPATH
GRTAGS
GSYMS
GTAGS
ID
